/* service */
.service{
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
.chil:hover{
    background: #F4F4F4;
}
.chil__aida{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin: 16px 0px;
    padding: 16px 0px;
    background: white;
    text-align: center;
    border-radius: 4px;
}
.service a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    flex-basis: 103px;
    flex-shrink: 0;
}
.service a:hover{
    background: #F4F4F4;
}
.service img{
    width: 48px;
    height: 48px;
    object-fit: contain;
}
.service span{
    text-decoration: none;
    margin-top: 12px;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    color: rgb(36, 36, 36);
    width: 81px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
}